* {
    box-sizing: border-box;
}

.row {
    display: flex;
    padding: 8% 8% 8% 8%;
    flex-direction: column;
    font-size: 1em;
    width: 100%;
}

@media (min-width: 1000px) {
    .row {
        font-size: 1em;
        flex-direction: row;
    }

   

}


    /* Create two equal columns that sits next to each other */
    .column1 {
        flex: 40%;
        padding: 5px;
        height: 500px;
        background-color: black;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }


    .column2 {
        flex: 50%;
        padding: 10px;
        padding-left: 3%;
        height: 500px;
        background-image: linear-gradient(to right, rgba(55, 27, 7, .5), #eee 20% );
        
        font-family: Arial, Helvetica, sans-serif;
    }

@media (min-width: 1000px) {
    .column2 {
        flex: 50%;
        padding: 10px;
        padding-left: 3%;
        height: 500px;
        background-image: linear-gradient(to right, rgba(55, 27, 7, .5), #eee 20% );
        box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .3);
        font-family: Arial, Helvetica, sans-serif;
    }
}

    .column3 {
        flex: 25%;
        padding-top: 10%;
        padding-left: 3%;
        padding-right: 20px;
        height: 500px;
        background-image: linear-gradient(to right, rgba(55, 27, 7, .5), #eee 20% );
        
        
        font-family: Arial, Helvetica, sans-serif;
    }
@media (min-width: 1000px) {
    .column3 {
        flex: 25%;
        padding-top: 10%;
        padding-left: 3%;
        padding-right: 20px;
        height: 500px;
        background-image: linear-gradient(to left, rgba(55, 27, 7, .5), #eee 20% );
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .3);
        font-family: Arial, Helvetica, sans-serif;
    }
}
    .iconDetails {
        width: 100%;
        height: 100%;
    }

    .createquestionform {
        width: 100%;
        display: flex;
        flex-direction: column;
    }


    .btn {
        background-color: green;
        font-size: 15px;
        padding: 10px 20px 10px 50px;
        border-radius: 10px;
        width: 25%;
        border: 1px solid brown;
        color: black;
        text-decoration: none;
        margin-left: 40%;
        margin-bottom: 10%;
    }
@media (min-width: 1000px) {
    .btn {
        background-color: green;
        font-size: 15px;
        padding: 10px 20px 10px 50px;
        border-radius: 10px;
        width: 55%;
        border: 1px solid brown;
        color: black;
        text-decoration: none;
        margin-left: 20%;
    }
}
    .btndisabled {
        background-color: saddlebrown;
        font-size: 15px;
        padding: 10px 20px 10px 50px;
        border-radius: 10px;
        width: 25%;
        border: 1px solid brown;
        color: black;
        text-decoration: none;
        margin-left: 40%;
        pointer-events: none;
        margin-bottom: 10%;
    }
@media (min-width: 1000px) {
    .btndisabled {
        background-color: saddlebrown;
        font-size: 15px;
        padding: 10px 20px 10px 50px;
        border-radius: 10px;
        width: 55%;
        border: 1px solid brown;
        color: black;
        text-decoration: none;
        margin-left: 20%;
        pointer-events: none;
        margin-bottom: 10%;
    }
}
    .input {
        margin: 15px auto;
        padding: 5px;
        border: 5px solid rgba(0,0,0,0.29);
        font-size: 15px;
        width: 300px;
    }

    .list {
        padding-left: 20%;
    }