.row {
    background: #5a7d72;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    padding: 24% 20%;
    float: left;
    position: absolute;
}

.texts {
    position: center;
    text-align: center;
    color: white;

}
