* {
    box-sizing: border-box;
}
.title {
    background-color: #d3dedb;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    padding: 2.5%
}
.row {
    display: flex;
    padding: 12.5% 8% 8% 8%;
    flex-direction: column;
    width: 100%;
    grid-gap:10px;
   
  
}

@media (min-width: 1100px) {
    .row {
        font-size: 1.2em;
        flex-direction: row;
    }
}

/* Create two equal columns that sits next to each other */
.column1 {
    flex: 40%;
    padding: 10px;
    height: 400px;
    background-image: linear-gradient(to top, rgba(33, 44, 41), #5a7d72 30% );
    border-radius: 10px;
    box-shadow: 0 5px 10px 5px rgba(90, 125, 114, .3);
    font-family: Arial, Helvetica, sans-serif;
  
}

.column2 {
    flex: 40%;
    padding: 10px;
    padding-left: 3%;
    height: 400px;
    background-image: linear-gradient(to top, rgba(33, 44, 41), #5a7d72 30% );
    border-radius: 10px;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .3);
    font-family: Arial, Helvetica, sans-serif;
}

.column3 {
    flex: 35%;
    padding: 10px;
    height: 400px;
    background-image: linear-gradient(to top, rgba(33, 44, 41), #5a7d72 30% );
    border-radius: 10px;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .3);
    font-family: Arial, Helvetica, sans-serif;
}
