


/*setting background image at center fixed position*/
.container {
    background: url(../images/Homepages.jpg) no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    padding-top:35%;
    text-align: center;
    color: white;
    float: left;
  position:absolute;
}

/*setting text at center fixed position*/
.home {
 
    position: relative;
    text-align: center;
    color: white;
    font-size:1.2rem;
   line-height:40px;
}



.footer {
    padding-top: 40%;
    padding-left:50px;
    padding-bottom:5%;
    float: left;
    list-style-type: none;
    color: white;
}


/*padding: 80px 30px 50px 0px;*/