* {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 25%;
    padding-left: 35%;
    padding-top:5%;
}



/* Create two equal columns that sits next to each other */
.column1 {
    flex: 50%;
    padding: 8px;
    width: 80%;
    border-top-left-radius: 20px;
    border-top-right-radius: 10px;
    background-color: black; /* Should be removed. Only for demonstration */
}

.column2 {
    flex: 50%;
    padding: 20px;
    width: 80%;
    background-color: #5a7d72;
}

.iconDetails {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 10px;
}


.createquestionform {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input {
    padding: 5px;
    border: 5px solid rgba(0,0,0,0.29);
    font-size: 15px;
    width: 75%;
}

.btn {
    background-color: #505451;
    font-size: 15px;
    border-radius: 10px;
    width: 50%;
    border: 1px solid darkgrey;
    color: white;
    text-decoration: none;
    margin-top: 10%;
    margin-left: 20%;
    text-align: center;
    line-height: 40px;
}
