.container {

    
}

.title {
    background-color: antiquewhite;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
    padding: 0% 20%;
}

    .title > h2 {
        padding-top: 5%;
        color: firebrick;
        font-size: 40px;
        text-decoration: underline;

    }
.title > h3 {
   font-size:25px;
   color: firebrick;

}

.title >p {
    color:saddlebrown;
    font-size:21px;
    padding-top:70px;

}

.list {
    color: saddlebrown;
    font-size: 20px;
}