.container {

    
}

.title {
    background-color: white;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
    padding: 0% 20%;
}

    .title > h2 {
        padding-top: 5%;
        color: #0d401e;
        font-size: 40px;
        text-decoration: underline;
        line-height: 40px;
    }
    .title > h3 {
        font-size: 25px;
        color: #0d401e;
        line-height: 40px;
    }

    .title > p {
        color: #0d401e;
        font-size: 21px;
        padding-top: 70px;
        line-height: 40px;
    }

.list {
    color: #0d401e;
    font-size: 20px;
    line-height: 40px;
    font-size:1em;
}