.container {
    background-image: linear-gradient(to right, rgba(55, 27, 7, .5), #eee 20% );
    border:1px solid #993300;
    border-radius: 10px;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .3);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.article {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 100%;
}

.wrapper {
    flex: 1;
}

.title {
    padding:20px;
    color: brown;
    margin: 0 0 20px;
}

.button {
    background: #c00;
    border-radius: 10px;
    color: #fff;
    padding: 10px 20px 10px;
    font-size:17px;
    margin-left:20px;
    margin-bottom:15px;

    
}

